<div class="row">
    <div class="card-panel col s3">
        {{>_navpanel}}
    </div>
    <div class="col s9">
        <div class="row">
            <div class="col s2">
                <div class="card">
                    <div class="card-image">
                        <a id="profileImageSelectorBtn" class="btn-floating halfway-fab waves-effect waves-light pink"><i class="fas fa-plus"></i></a>
                        {{#if profileImage}}
                            <img src={{{profileImage}}} alt="" class="circle responsive-img">
                        {{else}}
                            <img src="/images/user.png" alt="" class="circle responsive-img">
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="col s6">
                <h5>{{firstName}} {{lastName}}</h5>
                <p>{{years birthday}} |
                    {{#unless (strcmp gender "male")}}
                        <i class="fas fa-mars"></i>
                    {{/unless}}
                    {{#unless (strcmp gender "female")}}
                        <i class="fas fa-venus"></i>
                    {{/unless}}
                    {{#unless (strcmp gender "non-binary")}}
                        <i class="fas fa-genderless"></i>
                    {{/unless}} 
                    | {{country}}</p>
                    <p><i style="color:green" class="fas fa-circle"></i> {{gps.locality}} | {{lastOnline}}</p>
                <a class="btn pink darken-1" href="/user/info/update">Update Info</a>
            </div>

            <div class="col s4 pink-text flow-text">
                <div class="row">
                    <div class="col s4">
                        <p style="font-weight: bold;">Fame:</p>
                    </div>

                    <div class="col s8">
                        <p>{{fame}} <i class="fas fa-star"></i></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section"></div>
        <div></div>
        
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s2"><a class="active" href="#about">ABOUT</a></li>
                    <li class="tab col s2"><a href="#photos">PHOTOS</a></li>
                    <li class="tab col s2"><a href="#questions">INTERESTS</a></li>
                </ul>
            </div>
            <div id="about" class="col s12">
                {{aboutEdit}}
                {{#unless aboutEdit}}
                    {{>_about_view}}
                {{else}}
                    {{#if (strcmp aboutEdit "false")}}
                        {{>_about_edit}}
                    {{/if}}
                    {{#if (strcmp aboutEdit "true")}}
                        {{>_about_view}}
                    {{/if}}
                {{/unless}}
                <div class="col s1 section"></div>

                <div class="col s6">
                    <h5>My Details</h5>

                    <div class="row">

                        <div class="col s3">
                            <p>Birthday</p>
                            <p>Gender</p>
                            <p>Orientation</p>
                            <p>Ethnicity</p>
                            <p>Height</p>
                            <p>Body Type</p>
                            <p>Diet</p>
                        </div>

                        <div class="col s9">
                            <p>{{birthday}}</p>
                            <p>{{gender}}</p>
                            <p>
                                {{#each orientation}}
                                    {{this}},
                                {{/each}}
                            </p>
                            <p>{{ethnicity}}</p>
                            <p>{{height}}m</p>
                            <p>{{bodyType}}</p>
                            <p>{{diet}}</p>
                        </div>

                    </div>
                </div>
        </div>
        <div id="photos" class="col s12">
            <div class="section"></div>
                <div class="row">
                    <div class="col s12">
                        {{#if media}}
                            {{#each media}}
                                {{#if (indexStep @index 3)}}
                                    <div class="row">
                                {{/if}}
                                <div class="col s4">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="{{permalink}}">
                                        </div>
                                        <div class="card-content">
                                            <p>{{caption}}</p>
                                        </div>
                                        <div class="card-action">
                                            <div class="row">
                                                <div class="col s6 center-align">
                                                    <a href="#"><i class="fas fa-edit"></i> Edit</a>
                                                </div>
                                                <div class="col s6">
                                                    <a href="#"><i class="fas fa-trash-alt center-align"></i> Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{#if (indexStep @index 3)}}
                                    </div>
                                {{/if}}
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
                <div class="row">
                <div class="col s12">
                    <input type="file" name="upload" id="upload" hidden="hidden" multiple/>
                    <a id="imageUploadButton" style="width:20vw" class="btn blue darken-1" href="#!"><i class="fas fa-cloud-upload-alt left"></i> Upload Photos</a>
                    <a style="width:20vw" class="btn pink darken-1" href="/auth/instagram"><i class="fab fa-instagram left"></i> Instagram Photos</a>
                </div>
            </div>
            </div>
        
        <div id="questions" class="col s12">

        </div>
    </div>

    </div>

</div>

{{>_profile_image_selector}}
