<div class="row">
    <div class="card-panel col s6 offset-s3 center-align">
        <h5>Update Info</h5>
        <form action="/user/forms/info/update" method="POST">
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" class="validate" name="firstName" id="firstName" value={{firstName}} required>
                    <label for="firstName">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" class="validate" name="lastName" id="lastName" value={{lastName}} required>
                    <label for="lastName">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="datepicker" name="birthday" id="birthday" value={{birthday}} required>
                    <label for="birthday">Birthday</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select> 
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <!--<input type="text" class="validate" name="orientation" id="orientation" value={{orientation}} required>-->
                    <label for="orientation">Orientation</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="validate" name="ethnicity" id="ethnicity" value={{ethnicity}} required>
                    <label for="ethnicity">Ethnicity</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="validate" name="height" id="height" value={{height}} required>
                    <label for="height">Height</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="validate" name="bodyType" id="bodyType" value={{bodyType}} required>
                    <label for="bodyType">Body Type</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="validate" name="diet" id="diet" value={{diet}} required>
                    <label for="diet">Diet</label>
                </div>
            </div>

            <div class="section"></div>
            <button class="btn" type="submit">Update</button>
            <div class="section"></div>
        </form>
    </div>
</div>