<div class="row">
    <div class="card-panel col s3">
        {{>_navpanel}}
    </div>

    <div class="col s6">

        {{#if users}}
            {{#each users}}

                <div class="card-panel">
                    <div class="row valign-wrapper">
                        <div class="col s3">
                            <img src={{this.image}} alt="" class="circle responsive-img">
                        </div>
                        <div class="col s6">
                            <p>{{this.firstName}} {{this.lastName}}</p>
                            <p>{{years this.details.birthday}} |
                                {{#unless (strcmp this.details.gender "male")}}
                                    <i class="fas fa-mars"></i>
                                {{/unless}}
                                {{#unless (strcmp this.details.gender "female")}}
                                    <i class="fas fa-venus"></i>
                                {{/unless}}
                                {{#unless (strcmp this.details.gender "non-binary")}}
                                    <i class="fas fa-genderless"></i>
                                {{/unless}} 
                                | {{this.details.country}}</p>
                                {{#if this.gps}}
                                    {{#if this.lastOnline}}
                                        <p><i style="color:green" class="fas fa-circle"></i> {{this.gps.locality}} | {{dateStringify this.lastOnline}}</p>
                                    {{/if}}
                                {{/if}}
                                <p class="pink-text">{{fame}} <i class="fas fa-star"></i></p>
                        </div>
                        <div class="col s3">
                            <a class="btn pink darken-1" href="#!">View</a>
                        </div>
                    </div>
                </div>

            {{/each}}
        {{/if}}
    </div>


</div>